@charset "UTF-8";

header{
   background-color: #F8B500;
   width:100%;
   margin: 0;
   background: linear-gradient(45deg,#FF4F02,#F8B500,#FFFF00);
   animation: GradietionAnime 6s ease infinite;
   background-size: 200% 200%;

}

 a{
   text-decoration: none;
   color: #ffffff;
 }

header ul{
  float: right; /*メニューリストを右に浮かせる*/
  list-style: none;
  padding-right: 100px;
  opacity:0;
  transform: translateY(-15px);
  transition: 0.8s ease;
}

header ul li{
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  color: #ffffff;
  font-size: 1.2em;
  font-weight: bold;
}

.main_visual{
  /* background-color: #F8B500; */
  background: linear-gradient(45deg,#FF4F02,#F8B500,#FFFF00);
  animation: GradietionAnime 6s ease infinite;
  background-size: 200% 200%;
  display: flex;
  width: 100%;
  height: 150px;
  padding: 200 0 300 0;
  justify-content: center; /*display: flex;のコンテンツを中央寄せにする*/
  opacity:0;
  transform: translateY(-15px);
  transition: 0.8s ease;
}
@keyframes GradietionAnime{
	0% {background-position: 0% 50%;}
	50% {background-position: 100% 50%;}
	100% {background-position: 0% 50%;}
}
.egg{
  position: relative;
  width: 110px;
  height: 150px;
}

.siromi { /*白身*/
  position: absolute;
	width: 110px;
	height: 150px;
	border-radius : 80% 80% 80% 80% / 100% 100% 65% 65%;
	background: #ffffff;
   transition: transform 1s; /*1秒かけて動作 */
  transform-origin: bottom;　/*動作の支点*/
}

.siromi:hover{  /*ホバーで傾く*/
  transform:rotate(25deg);
  transform-origin: bottom;
}

.kimi{　/*黄身*/
  position: absolute;
	width: 75px;
	height: 75px;
	border-radius: 50%;/*角丸*/
  background-color: #FFD900;
  margin-left: 17px;
  margin-top: 65px;
}

.main_visual h1{
  font-size: 4.0em;
  color: #ffffff;
  text-align: center;
  vertical-align: middle;
  padding-left: 28px;
}

body{
  margin: 0;
}




/*-------------------
*
*  プロフィール
*
--------------------*/
.plofile_wrap{
  position: relative;
  left: 0;
  background-color: #f9f9f9;
  width: 100%;
  padding: 60 0 200 0;
}

.about{
  text-align: center;
  font-size: 3.0em;
  font-style: italic;
}

.plofile{
  display: flex;
  justify-content: center; /*display: flex;のコンテンツを中央寄せにする*/
  opacity: 0;
  transform: translateY(-15px);
  transition: 1s ease;
}

.photo{
  width: 200px;
  padding: 0 20 0 20;
}

.photo img{
  width: 100%;
  border-radius: 50%;
}

.plofile_text{
  position: relative;
  height: 100px;
  margin: 10 0 0 30;
  padding: 10 20 10 20;
  border-radius: 10px;
  background-color: #F8B500;
}

.plofile_text::before{/* 色付きの半円 */
  content: '';
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-radius: 50%;
  transform: rotate(45deg);
  left: 25px;
  bottom: -15px;
  border-right:  20px solid #F8B500;
  border-bottom:  20px solid #F8B500;
  border-left:  20px solid transparent;
  border-top: 20px solid transparent;}

  /* 白い半円 */
  .plofile_text::after{
    content: '';
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-radius: 50%;
    transform: rotate(45deg);
    left: 5px;
    bottom:  -20px;
    border-right:   20px solid #f9f9f9;
    border-bottom:  20px solid #f9f9f9;
    border-left:   20px solid transparent;
    border-top:  20px solid transparent;
  }


/*-------------------
*
*  スキル
*
--------------------*/
.skill_wrap{
  background-color: #ffffff;
  width: 100%;
  padding: 60 0 200 0;
}

.ab01{
  width: 320px;
  /* height: 40px; */
  font-size: 1.2em;
  margin: 0;
  vertical-align: bottom;
  background-color: #F8B500;
  padding: 12px;
}

.ab02{
  width: 200px;
  /* height: 40px; */
  font-size: 1.2em;
  margin: 0;
  vertical-align: middle;
  background-color: #F8B500;
  padding: 12px;
}

.skill{
  margin: 80 25 0 20;
}

.skill ul{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  justify-content: center;
}

.content_wrap{
  display: flex;
  flex-direction: column;
  width: 38%;
  margin: 10 10 10 10;
  border-radius: 10px;
  background-color: #FAC03D;
  min-height: 140px;
  opacity:0;
  transform: translateY(-15px);
  transition: 0.8s ease;
}

.title{
  font-weight: bold;
  font-size: 1.5em;
  text-align: right;
  padding: 10 25 5 0;
}


.contents{
  display: flex;
  gap:50px;
  padding: 0 20 10 60;
  text-align: left;
}

.icon1::before{
  content: " ";
  display: inline-block;
  width: 100px;
  height: 100px;
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-size: contain;
  vertical-align: middle;
  border-radius: 50%;
  background-image: url('icon-PG.svg');
}

.icon2::before{
  content: " ";
  display: inline-block;
  width: 100px;
  height: 100px;
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-size: contain;
  vertical-align: middle;
  border-radius: 50%;
  background-image: url('icon-DB.svg');
}

.icon3::before{
  content: " ";
  display: inline-block;
  width: 100px;
  height: 100px;
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-size: contain;
  vertical-align: middle;
  border-radius: 50%;
  background-image: url('icon-hoshu.svg');
}

.icon4::before{
  content: " ";
  display: inline-block;
  width: 100px;
  height: 100px;
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-size: contain;
  vertical-align: middle;
  border-radius: 50%;
  background-image: url('icon-book.svg');
}

.fadeIn{
  opacity: 1;
  transform: translateY(0);
}

/*-------------------
*
*  アウトプット
*
--------------------*/
.deliverable{
  background-color: #f9f9f9;
  width: 100%;
  padding: 60 0 200 0;
}

.slider{
  list-style: none;
  width:80%;
  height: 300px;
  margin:0 auto;
}

/*矢印の設定*/
/*戻る、次へ矢印の位置*/
.slick-prev,
.slick-next {
    position: absolute;/*絶対配置にする*/
    top: 42%;
    cursor: pointer;/*マウスカーソルを指マークに*/
    outline: none;/*クリックをしたら出てくる枠線を消す*/
    border-top: 2px solid #092470;/*矢印の色*/
    border-right: 2px solid #092470;/*矢印の色*/
    height: 15px;
    width: 15px;
}

.slider .slick-slide{
  margin: 0 10px;
}

.slick-prev {/*戻る矢印の位置と形状*/
    left: -1.5%;
    transform: rotate(-135deg);
}

.slick-next {/*次へ矢印の位置と形状*/
    right: -1.5%;
    transform: rotate(45deg);
}
/*ドットナビゲーションの設定*/

.slick-dots {
  text-align:center;
	margin:20px 0 0 0;
}

.slick-dots li {
  display:inline-block;
	margin:0 5px;
}

.slick-dots button {
    color: transparent;
    outline: none;
    width:15px;/*ドットボタンのサイズ*/
    height:15px;/*ドットボタンのサイズ*/
    display:block;
    border-radius:50%;
    border-color: #FFD900;
    background:#FFD900;/*ドットボタンの色*/
    opacity: 0.8;
}

.slick-dots .slick-active button{
    background:#092470;/*ドットボタンの現在地表示の色*/
}

.product{
  padding: 30px;
  margin: 5 10 5 10;
  background-color: 	#ffffff;
  /* opacity: 0.7; */
  justify-content: center;
  text-align: left;
  border-radius: 10px;

}

.pro-top{
  font-weight: bold;
  margin-top:  0;
  margin-bottom: 10;
  font-size: 1.3em;
}

#jump{
  text-decoration: none;
  color:black;
}

/*-------------------
*
*  上に戻るボタン
*
--------------------*/

#page_top{
  width: 50px;
  height: 50px;
  position: fixed;
  right: 20;
  bottom: 20;
  background: #092470;
  opacity: 0.6;
  border-radius: 50%;

}
#page_top a{
  position: fixed;
  display: block;
  width: 50px;
  height: 50px;
  text-decoration: none;
}
#page_top a::before{
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  content: '\f106';
  font-size: 25px;
  color: #fff;
  position: absolute;
  width: 25px;
  height: 25px;
  top: -5px;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  text-align: center;
}

#page_top:hover{
  background: #092470;
  border-radius: 50%;
  opacity:1;
  }


  /*-------------------
  *
  *  ↓↓↓スマホ↓↓↓
  *
  --------------------*/

 @media screen and (max-width: 576px){
   body{
     margin: 0;
   }

   header{
   background-color: #F8B500;
   width: 100%;
   height: 100%;
   margin: 0;
   }

   header ul{
    width: 80%;
    padding-right: 10%;
    padding-left: 10%;
    margin-top: 5%;
   }

   header ul li{
   }


   .main_visual{
   background-color: #F8B500;
   display: flex;
   width: 100%;
   padding-top: 65%;
   justify-content: center; /*display: flex;のコンテンツを中央寄せにする*/
   flex-wrap: wrap;
}

   .main_visual h1{
    padding-left: 0px;
   }

  /*-------------------
  *
  *  プロフィール
  *
  --------------------*/


   .photo{
    width: 200px;
    padding: 0 20 80 20;
   }

   .plofile{
    display: flex;
    justify-content: center; /*display: flex;のコンテンツを中央寄せにする*/
   }
   .plofile_text{
     position: relative;
     vertical-align: middle;
     width: 45%;
     height: 100%;
     margin: 10 30 0 0;
     border-radius: 10px;
     background-color: #F8B500;
    }

  .plofile_text::before{/* 色付きの半円 */
  content: '';
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-radius: 50%;
  transform: rotate(45deg);
  left: 25px;
  bottom: -15px;
  border-right:  20px solid #F8B500;
  border-bottom:  20px solid #F8B500;
  border-left:  20px solid transparent;
  border-top: 20px solid transparent;}

  /* 白い半円 */
  .plofile_text::after{
    content: '';
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-radius: 50%;
    transform: rotate(45deg);
    left: 5px;
    bottom:  -20px;
    border-right:   20px solid #f9f9f9;
    border-bottom:  20px solid #f9f9f9;
    border-left:   20px solid transparent;
    border-top:  20px solid transparent;
  }

/*-------------------
*
*  スキル
*
--------------------*/
.skill{
  margin: 80 25 0 20;
}

  .skill ul{
  display: block;
  list-style: none;
}

.content_wrap{
  display: block;
  width: 100%;
  margin: 0 10 50 10;
  border-radius: 10px;
  background-color: #FAC03D;
  min-height: 140px;
}

.contents{
  display: flex;
  gap:20px;
  padding: 0 20 10 20;
  text-align: left;
}

/*-------------------
*
*  アウトプット
*
--------------------*/





}
